# Data Preprocessing

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns ; sns.set()

In [37]:
df_voit = pd.read_csv("mars-2014-complete.csv", sep=';', engine = 'python', decimal=",")                            
df_voit.describe(include="all")

,lib_mrq,lib_mod_doss,lib_mod,dscom,cnit,tvv,cod_cbr,hybride,puiss_admin_98,puiss_max,...,masse_ordma_min,masse_ordma_max,champ_v9,date_maj,Carrosserie,gamme,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
count,55044,55044,55044,55044,55044,55044,55044,55044,55044.000000,55044.000000,...,55044.000000,55044.000000,54983,3247,55044,55044,0.0,0.0,0.0,0.0
unique,46,483,434,3837,54982,35430,13,2,NaN,NaN,...,NaN,NaN,35,5,11,7,NaN,NaN,NaN,NaN
top,MERCEDES,VIANO,VIANO,VIANO 2.2 CDI,M10PELVP197B318,639/2KAA71280N1M3F2S29,GO,non,NaN,NaN,...,NaN,NaN,"""715/2007*692/2008EURO5",mars-14,MINIBUS,MOY-INFER,NaN,NaN,NaN,NaN
freq,36220,14031,14031,5874,2,4,49311,54655,NaN,NaN,...,NaN,NaN,23979,2810,46107,33438,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.551504,118.984916,...,2102.104553,2341.021801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.126021,45.417430,...,294.731715,424.067895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,10.000000,...,825.000000,825.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,100.000000,...,1982.000000,2075.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,120.000000,...,2076.000000,2355.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,120.000000,...,2246.000000,2709.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.000000,585.000000,...,2760.000000,3094.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_voit = df_voit.dropna(how="all", axis=1)
df_voit.isna().sum()

lib_mrq                  0
lib_mod_doss             0
lib_mod                  0
dscom                    0
cnit                     0
tvv                      0
cod_cbr                  0
hybride                  0
puiss_admin_98           0
puiss_max                0
typ_boite_nb_rapp        0
conso_urb               43
conso_exurb             43
conso_mixte             34
co2                     34
co_typ_1               158
hc                   45271
nox                    158
hcnox                 9888
ptcl                  2678
masse_ordma_min          0
masse_ordma_max          0
champ_v9                61
date_maj             51797
Carrosserie              0
gamme                    0
dtype: int64

In [39]:
nrelevant_cols = ["date_maj", "hc"]
#df_voit_clean = df_voit.drop(nrelevant_cols)

,lib_mrq,lib_mod_doss,lib_mod,dscom,cnit,tvv,cod_cbr,hybride,puiss_admin_98,puiss_max,...,hc,nox,hcnox,ptcl,masse_ordma_min,masse_ordma_max,champ_v9,date_maj,Carrosserie,gamme
count,55044,55044,55044,55044,55044,55044,55044,55044,55044.000000,55044.000000,...,9773.000000,54886.000000,45156.000000,52366.000000,55044.000000,55044.000000,54983,3247,55044,55044
unique,46,483,434,3837,54982,35430,13,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35,5,11,7
top,MERCEDES,VIANO,VIANO,VIANO 2.2 CDI,M10PELVP197B318,639/2KAA71280N1M3F2S29,GO,non,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"""715/2007*692/2008EURO5",mars-14,MINIBUS,MOY-INFER
freq,36220,14031,14031,5874,2,4,49311,54655,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23979,2810,46107,33438
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.551504,118.984916,...,0.026552,0.299160,0.233701,0.000892,2102.104553,2341.021801,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.126021,45.417430,...,0.019279,0.416944,0.037490,0.000990,294.731715,424.067895,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,825.000000,825.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,100.000000,...,0.008000,0.197000,0.216000,0.000000,1982.000000,2075.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,120.000000,...,0.030000,0.214000,0.239000,0.001000,2076.000000,2355.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,120.000000,...,0.042000,0.228000,0.253000,0.001000,2246.000000,2709.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.000000,585.000000,...,0.510000,1.846000,0.570000,0.023000,2760.000000,3094.000000,NaN,NaN,NaN,NaN

In [40]:
df_voit.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55044 entries, 0 to 55043
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lib_mrq            55044 non-null  object
 1   lib_mod_doss       55044 non-null  object
 2   lib_mod            55044 non-null  object
 3   dscom              55044 non-null  object
 4   cnit               55044 non-null  object
 5   tvv                55044 non-null  object
 6   cod_cbr            55044 non-null  object
 7   hybride            55044 non-null  object
 8   puiss_admin_98     55044 non-null  int64
 9   puiss_max          55044 non-null  float64
 10  typ_boite_nb_rapp  55044 non-null  object
 11  conso_urb          55001 non-null  float64
 12  conso_exurb        55001 non-null  float64
 13  conso_mixte        55010 non-null  float64
 14  co2                55010 non-null  float64
 15  co_typ_1           54886 non-null  float64
 16  hc                 9773 non-null   float64
 17  nox                54886 non-null  float64
 18  hcnox              45156 non-null  float64
 19  ptcl               52366 non-null  float64
 20  masse_ordma_min    55044 non-null  int64
 21  masse_ordma_max    55044 non-null  int64
 22  champ_v9           54983 non-null  object
 23  date_maj           3247 non-null   object
 24  Carrosserie        55044 non-null  object
 25  gamme              55044 non-null  object
dtypes: float64(10), int64(3), object(13)
memory usage: 10.9+ MB

In [51]:
for c in df_voit.columns:
    df_voit[c].val

lib_mrq
lib_mod_doss
lib_mod
dscom
cnit
tvv
cod_cbr
hybride
puiss_admin_98
puiss_max
typ_boite_nb_rapp
conso_urb
conso_exurb
conso_mixte
co2
co_typ_1
hc
nox
hcnox
ptcl
masse_ordma_min
masse_ordma_max
champ_v9
date_maj
Carrosserie
gamme